@layer variables {
  :root {
    --border-color: #acacac;
    --transition-time: 700ms;
    --primary-text-color: #fff;
    --secondary-text-color: #e4e4e4;
    --clear-weather: rgb(30, 75, 126);
    --current-weather: var(--clear-weather);
  }
}
@layer resets {
  * {
    box-sizing: border-box;
  }
}
@layer general {
  ::-webkit-scrollbar {
    width: 12px; /* Vertical scrollbar width */
    height: 5px; /* Horizontal scrollbar height */
    overflow: hidden;
  }
  ::-webkit-scrollbar-button {
    display: none;
    background-color: red;
  }
  ::-webkit-scrollbar-track {
    display: none;
    background-color: red;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #9c9c9c46;
  }
}
@layer main-content {
  #content {
    min-height: 100svh;
    width: 100%;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchForm {
    width: 70%;
    .searchInput {
      padding: 0.5em;
      width: 100%;
      height: 2.6em;
      border-radius: 50px;
      border: 2px solid var(--border-color);
      font-size: calc(2vw + 1.1em);
    }
  }
}

@layer weather-body {
  .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 50px;
    padding: 2em;
    gap: 20px;

    animation-fill-mode: forwards;
    animation-duration: var(--transition-time);
    transition: var(--transition-time) ease height;
    &.show {
      background-color: var(--current-weather);
      animation-name: fadeIn;
      height: 800px;
    }

    .location-address {
      font-size: min(2.5em, 8vw);
      color: var(--primary-text-color);
    }
    .location-timezone {
      font-size: min(2em, calc(8vw - 0.5em));
      color: var(--primary-text-color);
    }
    .hours-container,
    .days-container {
      display: flex;
      justify-content: center;
      background-color: color-mix(in srgb, var(--current-weather) 80%, white);
      width: 100%;
      height: 100px;
      border-radius: 20px;
      overflow: hidden;
      .hours,
      .days {
        width: max-content;
        display: flex;
        flex-direction: row-reverse;

        overflow-y: hidden;
        overflow-x: auto;
      }
    }
    .main {
      height: 40%;
      font-size: 1.3em;
      color: var(--primary-text-color);
      .condition {
        text-transform: capitalize;
      }
      .temperature {
        position: relative;
        &::after {
          color: var(--secondary-text-color);
          position: absolute;
          content: attr(data-temp-unit);
          text-transform: uppercase;
          font-size: 0.7em;
        }
      }
    }
  }
}

@layer componenets {
  .hour,
  .day {
    position: relative;
    color: var(--primary-text-color);
    min-width: 6em;
    width: 6em;
    height: 8em;
    .time {
      position: relative;
      &::after {
        color: var(--secondary-text-color);
        margin-left: 1ch;
        position: absolute;
        bottom: 0;
        content: attr(data-end);
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
    .icon {
      display: inline-block;
      height: 20px;
      width: 20px;
    }
    .temperature {
      position: relative;
      &::after {
        color: var(--secondary-text-color);
        position: absolute;
        content: attr(data-temp-unit);
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }

    /* Button Related*/
    border: none;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    * {
      pointer-events: none;
    }
    &:active,
    & .active {
      background-color: color-mix(in srgb, var(--current-weather) 60%, white);
    }
  }
  .hour {
    /* * Ditched .hour Events */
    pointer-events: none;
  }
}

@layer weather-icon-specific-size-fixes {
  .icon {
    * {
    }
    img[alt='partly-cloudy-night'],
    img[alt='partly-cloudy-day'] {
      scale: 2;
    }
  }
}
